body{
    background-color:#bde3f3;
}
.name{
    color: #ff0000;
   
    text-decoration:underline;
    font-family:'Times New Roman', Times, serif;
    margin-left: 3cm;
    
}
.sub{
   
    color: #ff0000;
    margin-left: 3cm;
    
}
.list{
    margin-left: 1cm;
}
